@CHARSET "ISO-8859-1";
.hero-image{
	 width: -webkit-fill-available;
    height: fit-content;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.displayIn{
	    display: -webkit-inline-box;
}

.matriRegister{
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}